html {
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    background-color: rgb(17, 169, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    overflow-y: hidden;
    overflow-x: hidden;
}



.card {
    border-radius: 15px;
    height: 374px;
    width: 350px;
    background-color: white;
    position: relative;
    
}

.profileBackground {
    height: 144px;
    width: 350px;
}

.profilePic {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    position: absolute;
    border: 4px solid white;
    right: 120px;
    top: 93px;
    
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 0 49px;
}

.name_age {
    display: flex;
    margin-bottom: 8px;
}

.name_age h3 {
    margin-left: 8px;
    font-size: 18px;
}

.name_age h3:nth-child(1) {
    font-weight: 700;
}


.name_age h3:nth-child(2) {
    font-weight: 400;
    color: #6B7082;
}

.country {
    display: flex;
    margin-bottom: 49px;
    font-weight: 400;
    color: #6B7082;
    font-size: 14px;
}


.numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
}



.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    color: #6B7082;
}



.circle1 {
    height: 977.999983262243px;
    width: 977.999983262243px;
    position: absolute;
    top: 470px;
    right: 12px;
    rotate: 45deg;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
    z-index: -1;
    overflow-y: hidden;
}

.circle2 {
    height: 977.999983262243px;
    width: 977.999983262243px;
    position: absolute;
    top: -376px;
    left: -29px;
    rotate: 45deg;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
    z-index: -1;
}

